@import "./lib/style";
@import "./lib/page";
.onePage{
	 width: 100%;
	 height: 100%;
}
.twoPage{
	  background: black;
	  width: 100%;
	  height: 100%;
}
.threePage{
	 width: 100%;
	 height: 100%;
	 background: red;	
}